doctype html
html(ng-app='sandflake')
  head
    title
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    base(href='/')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/scripts/lib/bootstrap-sass/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/scripts/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', content-type="text/css" href='/scripts/css/app.css')
    body(ng-controller='sandflake')
      block upnav
      block content
      block downnav
  //
   script(src='/scripts/dist/sandflake.min.js')


  script(src='/scripts/dist/h2o.min.js')
  script(src='/scripts/lib/jquery-mousewheel/jquery.mousewheel.js')
  script(src='/scripts/lib/d3/d3.js')
  script(src='/scripts/base/cal-heatmap.js')
  script(src='/scripts/directives.js')
  script(src='/scripts/base/kudos.js')
  script(src='/scripts/base/transform.js')
  script(src='/scripts/factories.js')
  script(src='/scripts/controllers/app.js')
  script(src='/scripts/controllers/profile.js')
  script(src='/scripts/controllers/signup.js')
  script(src='/scripts/controllers/login.js')
  script(src='/scripts/controllers/meat.js')
  script(src='/scripts/controllers.js')
  script(src='/scripts/app.js')