doctype html
html(ng-app='sandflake')
  head
    title
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    base(href='/')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/scripts/lib/bootstrap-sass/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/scripts/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', content-type="text/css" href='/scripts/css/app.css')
    body(ng-controller='sandflake')
      nav(class='navbar navbar-default navbar-fixed-top' role='navigation')
       .container-fluid
        a(id='logoapp' class='navbar-brand logoapp')
        ul(id='menu_list' class='nav navbar-nav')
        ul(class='nav navbar-nav navbar-right')
          li#loginfo.dropdown
           a#loggedBar.navbar-link.dropdown-toggle(data-toggle="dropdown")
           ul#loggedInfo.dropdown-menu.dropdown-menu                         
      #loadCont
        #load
      #meatlaunch.kudos
      block content
      nav(id='downnav' class='navbar navbar-default navbar-fixed-bottom' role='navigation')
        .container-fluid
            .navbar-header
              button(id='subnavCollapse' type='button' class='navbar-toggle' data-toggle='collapse' data-target='#subnav')
                .sr-only
                  Toggle navigation
                 span(class='icon-bar')
            div(class='collapse nav-collapse' id='subnav')
              ul(class='nav navbar-nav')
              ul(id='subnavCont' class='nav navbar-nav navbar-right')
                  li#meatlist.dropdown
                   a.navbar-link.dropdown-toggle(data-toggle='dropdown')
                   ul#meatList.dropdown-menu
    script(src='/scripts/dist/sandflake.min.js')
    script(src='/scripts/directives.js')
    script(src='/scripts/base/kudos.js')
    script(src='/scripts/factories.js')
    script(src='/scripts/controllers/app.js')
    script(src='/scripts/controllers/profile.js')
    script(src='/scripts/controllers/root.js')
    script(src='/scripts/controllers/meat.js')
    script(src='/scripts/controllers.js')
    script(src='/scripts/app.js')