      <div class="form-group">
        <label class="control-label" for="pemail">Email</label>
        <input type="email" ng-required="" class="form-control" id="pemail" name="pemail" placeholder="" disabled="true">
      </div>
      <div class="form-group">
        <label class="control-label" for="puname">Nickname</label>
        <input type="text" ng-keyup="keyPssw($event)" ng-required class="form-control" id="puname" name="puname" placeholder="">
      </div>
      <div class="form-group">
        <label class="control-label" for="pname">Name</label>
        <input type="text" ng-keyup="keyPssw($event)" ng-required class="form-control" id="pname" name="pname" placeholder="">
      </div>
      <div class="form-group">
        <label class="control-label" for="plastname">Last Name</label>
        <input type="text" ng-keyup="keyPssw($event)" ng-required class="form-control" id="plastname" name="plastname" placeholder="">
      </div>
      <div class="form-group">
        <label class="control-label" for="dbirth">Birth Date</label>
        <input type="text" ng-keyup="keyPssw($event)" ng-required class="form-control" id="dbirth" name="dbirth" placeholder="">
      </div>
      <button id="profile_update" type="submit" class="btn btn-success pull-right" disabled="true">Update</button>