      <div class="form-group">
        <label class="control-label" for="singin_email">Email or Username</label>
        <input type="text" ng-keyup="keyMail($event)" ng-required="" class="form-control" id="singin_email" name="singin_email" placeholder="your username" autocomplete="off">
      </div>
      <div class="form-group">
        <label class="control-label" for="singin_password">Password</label>
        <input type="password" ng-keyup="keyPssw($event)" ng-required="" class="form-control" id="singin_pssw" name="singin_pssw" placeholder="Password" autocomplete="off">
      </div>
      <button id="user_signin" type="submit" class="btn btn-success pull-right" disabled="true">Enter</button>