      <div class="form-group">
        <label class="control-label" for="singup_email">Email</label>
        <input type="email" ng-keyup="keyMail($event)" ng-required="" class="form-control" id="singup_email" name="singup_email" placeholder="your email address" autocomplete="off">
      </div>
      <div class="form-group">
        <label class="control-label" for="singup_pssw">Password</label>
        <input type="password" ng-keyup="keyPssw($event)" ng-required="" class="form-control" id="singup_pssw" name="singup_pssw" placeholder="Password" autocomplete="off">
      </div>
      <button id="user_signup" type="submit" class="btn btn-success pull-right" disabled="true">Join</button>