<div class="modal fade editProfilePic" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="mySmallModalLabel">Change  </h4>
        </div>
        <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="exampleInputFile">Upload new profile image</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block"></p>
              </div>
            </form>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid container-app">
  <div class="row-container">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Profile</h4></div>
        <div id="appPanelBody" class="panel-body">
           <div class="row-fluid">
               <div id="wrap">
                 <div class="info">
                   <input type="file" id="profileUpload" style="display:none;">
                   <p><i id="launchProfileEdit" class="fa fa-pencil pull-right"></i></p>
                 </div>
                 <img id="pic">
               </div>
             </div>
           <form name="profileForm" id="profileForm" role="form" ng-submit="updateProfile($event)" ng-include="'/partials/includes/profile_form.html'"></form>
           </div>
   </div>
  </div>
</div>