<div class="container-fluid container-app">
  <div class="row container">
   <div class="col-xs-1 col-sm-2 col-md-2 col-lg-5"></div>
   <div class="col-xs-10 col-sm-8 col-md-8 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Sign up</h4></div>
      <div id="signupPanelBody" class="panel-body">
      <form name="signupForm" id="signupForm" role="form" ng-submit="signUp($event)" ng-include="'/partials/includes/signup_form.html'"></form>
    </div>
    </div>
   </div>
  </div>
</div>