<div class="container-fluid container-app">
  <div class="row container">
   <div class="col-xs-1 col-sm-2 col-md-2 col-lg-5"></div>
   <div class="col-xs-10 col-sm-8 col-md-8 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Login</h4></div>
      <div id="signinPanelBody" class="panel-body">
      <form name="signinForm" id="signinForm" role="form" ng-submit="signIn($event)" ng-include="'/partials/includes/signin_form.html'"></form>
    </div>
    </div>
   </div>
  </div>
</div>